.red {
	color:  #839192 ;
	font-weight: bold;
	font-family: cursive;
}

#red {
	color:  #839192 ;
	font-weight: bold;
	font-family: cursive;
}

a:hover {
	color: #cc0000;
	font-weight: bold;
	text-decoration: none;
}

a:first-child {
    
color:#CDBE70
}

a:nth-child(3) {
    color:#FFC125
}
p:first-child {
    font-family: cursive;
}
p:nth-child(2) {
    font-family: Tahoma;
}
p:nth-child(3) {
    color: #d5d8dc;
}
p:nth-child(4) {
    background-color: #d5d8dc ;
}
p:nth-child(5) {
    font-size: 22px;
}
li p {
    font-size:30px; 
}

div {
	height: 50px;
width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #d5d8dc ;
	margin-top: 20px;
margin-right: 50px;
margin-bottom: 10px;
margin-left: 5px;
}

img.resize{
   max-width:50%;
   max-height:50%;
}

.largefont {
  color: #0066FF;
  font-family: Arial;
  font-size: 10px;
} 



/* comment here about a style */
